@model Pelo.v2.Web.Models.Account.LogonModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>StartUI - Premium Bootstrap 4 Admin Dashboard Template</title>

    <link href="~/startui/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="~/startui/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="~/startui/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="~/startui/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
    <link href="~/startui/img/favicon.png" rel="icon" type="image/png">
    <link href="~/startui/img/favicon.ico" rel="shortcut icon">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/startui/css/separate/pages/login.min.css">
    <link rel="stylesheet" href="~/startui/css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="~/startui/css/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/startui/css/main.css">
</head>
<body>

<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid">
            <form class="sign-box" method="post">
                @Html.ValidationSummary()
                @Html.HiddenFor(c => c.ReturnUrl)
                <div class="sign-avatar">
                    <img src="~/startui/img/avatar-sign.png" alt="">
                </div>
                <header class="sign-title">Đăng nhập</header>
                <div class="form-group">
                    <input asp-for="Username" class="form-control" placeholder="Tên đăng nhập" />
                    @Html.ValidationMessageFor(c => c.Username)
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu" />
                    @Html.ValidationMessageFor(c => c.Password)
                </div>
                <div class="form-group">
                    <div class="checkbox float-left">
                        <input asp-for="RememberMe" type="checkbox" />
                        <label for="RememberMe">Ghi nhớ đăng nhập</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-rounded">Đăng nhập</button>
                <!--<button type="button" class="close">
        <span aria-hidden="true">&times;</span>
    </button>-->
            </form>
        </div>
    </div>
</div><!--.page-center-->


<script src="~/startui/js/lib/jquery/jquery.min.js"></script>
<script src="~/startui/js/lib/tether/tether.min.js"></script>
<script src="~/startui/js/lib/bootstrap/bootstrap.min.js"></script>
<script src="~/startui/js/plugins.js"></script>
<script type="text/javascript" src="~/startui/js/lib/match-height/jquery.matchHeight.min.js"></script>
<script>
    $(function() {
        $('.page-center').matchHeight({
                target:$('html')
            });
        $(window).resize(function() {
            setTimeout(function() {
                    $('.page-center').matchHeight({remove:true});
                    $('.page-center').matchHeight({
                            target:$('html')
                        });
                },
                100);
        });
    });
</script>
<script src="~/startui/js/app.js"></script>
</body>
</html>