@using Microsoft.AspNetCore.Routing
@using Pelo.v2.Web.Models.District
@using Pelo.v2.Web.Models.Datatables
@using Pelo.v2.Web.Models.Datatables.Render
@model Pelo.v2.Web.Models.District.DistrictSearchModel
@{
  ViewBag.Title = "Danh sách quận huyện";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssPlugin{ 
    <link rel="stylesheet" href="@Url.Content("~/startui/css/lib/datatables-net/datatables.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/startui/css/separate/vendor/datatables-net.min.css")">
}

@section css{ 
    <style>
        .box-typical.box-typical-dashboard .box-typical-body {
            height:auto !important;
        }
    </style>
}

@section jsPlugin {
    <script src="@Url.Content("~/startui/js/lib/datatables-net/datatables.min.js")"></script>
}

<div class="row">
    <div class="col-xl-12 dahsboard-column">
        <section class="box-typical box-typical-dashboard panel panel-default scrollable">
            <header class="box-typical-header panel-heading">
                <h3 class="panel-title">Danh sách quận huyện</h3>
            </header>
            <div class="box-typical-body panel-body">
                <div class="row" style="padding:15px;">
                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label class="form-label semibold">Tỉnh thành</label>
                            <nop-select asp-for="ProvinceId" asp-items="Model.AvaiableProvinces"/>
                        </fieldset>
                    </div>
                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label class="form-label semibold" for="DistrictName">Tên quận huyện</label>
                            <input asp-for="DistrictName" class="form-control" type="text" placeholder="Tên quận huyện" />
                        </fieldset>
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-primary" id="search-district">Tìm kiếm</button>
                        <a class="btn btn-success" href="@Url.Action("Add")">Thêm mới</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<section class="card">
    <div class="card-block">
        @await Html.PartialAsync("Table",new DataTablesModel
   {
       Name="district-grid",
       UrlRead = new DataUrl("GetList","District",null),
       UrlDelete = new DataUrl("Delete","District",null),
       SearchButtonId = "search-district",
       Ordering = false,
       Filters = new List<FilterParameter> {
                                                   new FilterParameter(nameof(Model.DistrictName)),
                                                   new FilterParameter(nameof(Model.ProvinceId)),
                                           },
       ColumnCollection = new List<ColumnProperty> {
                                                           new ColumnProperty(nameof(DistrictModel.SortOrder))
                                                           {
                                                                   Title = "Thứ tự sắp xếp"
                                                           },
                                                           new ColumnProperty(nameof(DistrictModel.Type))
                                                           {
                                                                   Title = "Loại"
                                                           },
                                                           new ColumnProperty(nameof(DistrictModel.Name))
                                                           {
                                                                   Title = "Tên"
                                                           },
                                                           new ColumnProperty(nameof(DistrictModel.Id))
                                                           {
                                                                   Title = "",
                                                                   Width = "40",
                                                                   Orderable = false,
                                                                   ClassName =  NopColumnClassDefaults.Button,
                                                                   Render = new RenderButtonEdit(new DataUrl("District/Edit"))
                                                           },
                                                           new ColumnProperty(nameof(DistrictModel.Id))
                                                           {
                                                                   Title = "",
                                                                   Width = "40",
                                                                   Orderable = false,
                                                                   ClassName =  NopColumnClassDefaults.Button,
                                                                   Render = new RenderButtonRemove("Remove")
                                                           }
                                                   }
   })
    </div>
</section>

@section js{ 
    <script>
        $(document).ready(function () {
            $('.panel').lobiPanel({
                sortable: false,
                draggable: false,
                resize: 'none'
                });
            $('#table').DataTable();
            reloadDataWhenEnter('DistrictName');
        })
    </script>
}
