@model DateTime?
<div class="form-group">
    <div class="input-group date">
        <input id="@Html.IdForModel()" name="@Html.NameForModel()" value="@(Model > DateTime.MinValue || Model.HasValue ? Model.Value.ToShortDateString() : null)" class="form-control">
        <span class="input-group-addon">
            <i class="font-icon font-icon-calend"></i>
        </span>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#@Html.IdForModel()').daterangepicker({
                singleDatePicker:true,
                showDropdowns:true,
                locale:{
                        format:'DD-MM-YYYY'
                    }
            });
    });
</script>